@import "./header.css";
@import "./container.css";
@import "./main.css";
@import "./adaptive.css";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Nunito Sans", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

* {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('/font/NEXT\ ART_Bold.otf'),
         url('/font/NEXT\ ART_Heavy.otf'),
         url('/font/NEXT\ ART_Light.otf'),
         url('/font/NEXT\ ART_Regular.otf'),
         url('/font/NEXT\ ART_SemiBold.otf');
}

